:root {
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}

.light-mode {
    --base-clr: #f5f6fa;
    --line-clr: #d0d1d9;
    --hover-clr: #e6e8f3;
    --text-clr: #1a1b25;
    --accent-clr: #4b50ff;
    --secondary-text-clr: #5a5d6a;
}

main {
  padding: 20px;
  color: var(--text-clr);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header button {
  background-color: var(--base-clr);
  color: var(--text-clr);
  border: 1px solid var(--line-clr);
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.task-header button:hover {
  background-color: var(--accent-clr);
  color: var(--text-clr);
  border: 1px solid var(--line-clr);
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.task-summary {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.task-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.task-filters input, 
.task-filters select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--line-clr);
  background-color: var(--base-clr);
  color: var(--text-clr);
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-card {
  background-color: var(--line-clr);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card p {
  margin: 3px 0;
}

.task-actions button {
  margin-left: 5px;
  background: none;
  border: 1px solid var(--text-clr);
  color: var(--text-clr);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.task-actions button:hover {
  background-color: var(--accent-clr);
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background-color: var(--base-clr);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input, 
.modal-content select {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-actions button {
  padding: 5px;
  background-color: var(--text-clr);
  border-radius: 10px;
}

.modal-actions button:hover {
  padding: 5px;
  background-color: var(--accent-clr);
  border-radius: 10px;
}

